#skills {
  opacity: 0;
  margin-top: 50vh;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  #skills figure {
    background-color: #fff; }
