@import 'zmienne';

#main-header {
    color: $gray;
    background-image: url(../css/img/ana-cruz-591325-unsplash.jpg);
    @include cover;
    height: 100vh;

    .header-box{

        background-color: rgba($color:#fff, $alpha: 0.7);
    
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
        font-weight: 400;
    }
    
    h2{
        font-weight: 200;
        font-size: 2em;
    }
}
}